In [ ]:
# IMPORTING LIBRARIES
import pandas as pd
import numpy as np

#Statistical libraries
import scipy.stats as stats
from statsmodels.stats import weightstats

In [29]:
# Import dataset
dataset = pd.read_csv('C:/Users/miant/Desktop/Python/50_Startups.csv')
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

# H.T. --> Normal (Z TEST)

We want to know whether the average of the Adm spend is 115000 USD

In [5]:
#H0: mu = 115000
#H1: mu different than 115000

We define our variable --> We need to create "X"

In [6]:
X = dataset['Administration']

In [9]:
mu = 115000

In [11]:
#We compute z and p-value

z_score, p_value = weightstats.ztest(X, value = mu, ddof = 1, alternative = 'two-sided')

z_score

1.6012453669179458

In [12]:
p_value

0.10932258426192785

To give interpretation and understand the result we need to compare p-value with alpha. Alpha = 0.05, p-value = 0.10, when p-value is greater than alpha, then we accept H0

In this case, we accept H0, then we have evidence to say that the average spend in Adm is 115000 USD

# Now we want to see if the Adm spend is greater than 111000 USD

In [13]:
#H0: mu = 111000
#H1: mu > 111000

#I will call "mu1" to the average that we will use in this case

mu1 = 111000

In [14]:
#We compute z and p-value

z_score, p_value = weightstats.ztest(X, value = mu1, ddof = 1, alternative = 'larger')
#If you want to do H1< mu, then in "alternative" we need to use "smaller"

In [15]:
p_value

0.004517115635626599

In [16]:
z_score

2.610756051759962

In this case p-value is less than alpha, so we reject H0. If we reject H0, we "accept" H1, then, we have enough evidence to say that the average spend in Adm is greater than 111000 USD

If we want to work with alpha = 0.03, then we just compare the result of p-value with that one.

In [22]:
alpha = 0.03

if p_value < alpha:
    print(f"Reject H0")
else:
    print(f"We accept H0")

Reject H0

# T- TEST

In [26]:
#H0: mu = 115000
#H1: mu different than 115000

stats.ttest_1samp(X,115000)

t_stat, p_value = stats.ttest_1samp(X, mu)
print("T-statistic:", t_stat)
print("P-value:", p_value)

T-statistic: 1.6012453669179458
P-value: 0.11575077118592211

In [28]:
# Adjusting the p-value for one-tailed test (H1 > mu)

#H0: mu = 115000
#H1: mu > 115000

p_value_one_tailed = p_value / 2

print("P-value for one tailed test:", p_value_one_tailed)

P-value for one tailed test: 0.05787538559296106